page-quizzypop-question {

  .scroll-content{
    padding-top: 0!important;
  }

  .bg-img{
    background-image: url("../../../assets/imgs/quizzypop/quizzy_back.png");
    background-position:  center;
    background-repeat: no-repeat;
    background-size:cover;
  }

  .logo{
    width: 80px;
    height: 80px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .min-logo{
    width: 60px;
    height: 60px;
  }

  .question-content{
    color: #222222;
    font-size: 15px;
    max-height: 100%;
    overflow-y: scroll;

  }

  .month{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0!important;
    color: #EE3268;
  }

  .last-update{
    color: darkgray;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(238, 50, 104,0.7);

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(238, 50, 104,0.8);

  }

}
