page-home {
  ion-row{
    margin: 10px auto;
  }

  button{
    height: 50px!important;
    width:70vw;
    font-size: larger!important;
    border: 2px solid rgba(255,255,255,0.6);
  }

  .home_logo{
    width: 150px;
    height: 150px;
  }

  .logo_row{
    margin: 0;
  }

  video {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    transform: scale(1.1);
    z-index: -100;
  }

}
